## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df= application_df.drop(["EIN","NAME"], axis=1)
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
# Determine the number of unique values in each column.
unique= application_df.nunique()
print(unique)

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [4]:
# Look at APPLICATION_TYPE value counts for binning
# Look at APPLICATION_TYPE value counts for binning
application_type_counts = application_df['APPLICATION_TYPE'].value_counts()
print(application_type_counts)

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [5]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
cutoff_value = 500

# Create a list of application types to be replaced
application_types_to_replace = application_df['APPLICATION_TYPE']\
    .value_counts()[application_df['APPLICATION_TYPE'].value_counts() < cutoff_value].index.tolist()


# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [6]:
# Look at CLASSIFICATION value counts for binning
classification_counts= application_df["CLASSIFICATION"].value_counts()
print(classification_counts)

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [7]:
# You may find it helpful to look at CLASSIFICATION value counts >1
classification_counts = application_df['CLASSIFICATION'].value_counts()

# Display only counts greater than 1
classification_counts_gt1 = classification_counts[classification_counts > 1]
print(classification_counts_gt1)

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [8]:
# Choose a cutoff value and create a list of classifications to be replaced
classification_cutoff_value = 100

# Create a list of classifications to be replaced
classifications_to_replace = application_df['CLASSIFICATION']\
    .value_counts()[application_df['CLASSIFICATION'].value_counts() < classification_cutoff_value].index.tolist()

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
Other      669
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
Name: CLASSIFICATION, dtype: int64

In [9]:
# Convert categorical data to numeric with `pd.get_dummies`
application_df_encoded = pd.get_dummies(application_df)

# Display the first few rows of the encoded DataFrame
print(application_df_encoded.head())

   STATUS  ASK_AMT  IS_SUCCESSFUL  APPLICATION_TYPE_Other  \
0       1     5000              1                       0
1       1   108590              1                       0
2       1     5000              0                       0
3       1     6692              1                       0
4       1   142590              1                       0

   APPLICATION_TYPE_T10  APPLICATION_TYPE_T19  APPLICATION_TYPE_T3  \
0                     1                     0                    0
1                     0                     0                    1
2                     0                     0                    0
3                     0                     0                    1
4                     0                     0                    1

   APPLICATION_TYPE_T4  APPLICATION_TYPE_T5  APPLICATION_TYPE_T6  ...  \
0                    0                    0                    0  ...
1                    0                    0                    0  ...
2                    0                    1                    0  ...
3                    0                    0                    0  ...
4                    0                    0                    0  ...

   INCOME_AMT_1-9999  INCOME_AMT_10000-24999  INCOME_AMT_100000-499999  \
0                  0                       0                         0
1                  1                       0                         0
2                  0                       0                         0
3                  0                       1                         0
4                  0                       0                         1

   INCOME_AMT_10M-50M  INCOME_AMT_1M-5M  INCOME_AMT_25000-99999  \
0                   0                 0                       0
1                   0                 0                       0
2                   0                 0                       0
3                   0                 0                       0
4                   0                 0                       0

   INCOME_AMT_50M+  INCOME_AMT_5M-10M  SPECIAL_CONSIDERATIONS_N  \
0                0                  0                         1
1                0                  0                         1
2                0                  0                         1
3                0                  0                         1
4                0                  0                         1

   SPECIAL_CONSIDERATIONS_Y
0                         0
1                         0
2                         0
3                         0
4                         0

[5 rows x 50 columns]

In [11]:
# Split our preprocessed data into our features and target arrays
target = application_df_encoded['IS_SUCCESSFUL']
features = application_df_encoded.drop('IS_SUCCESSFUL', axis=1)

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(features, target, test_size=0.2, random_state=42)

In [12]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [13]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
#  YOUR CODE GOES HERE

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=8, activation='relu', input_dim=X_train_scaled.shape[1]))


# Second hidden layer
nn.add(tf.keras.layers.Dense(units=4, activation='relu'))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 8)                 400

 dense_1 (Dense)             (None, 4)                 36

 dense_2 (Dense)             (None, 1)                 5

=================================================================
Total params: 441 (1.72 KB)
Trainable params: 441 (1.72 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [14]:
# Compile the model
nn.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])

In [15]:
# Train the model
history = nn.fit(X_train_scaled, y_train, epochs=50, verbose=1)

Epoch 1/50
858/858 [==============================] - 1s 502us/step - loss: 0.6223 - accuracy: 0.6673
Epoch 2/50
858/858 [==============================] - 0s 458us/step - loss: 0.5605 - accuracy: 0.7252
Epoch 3/50
858/858 [==============================] - 0s 460us/step - loss: 0.5552 - accuracy: 0.7264
Epoch 4/50
858/858 [==============================] - 0s 457us/step - loss: 0.5529 - accuracy: 0.7283
Epoch 5/50
858/858 [==============================] - 0s 455us/step - loss: 0.5516 - accuracy: 0.7298
Epoch 6/50
858/858 [==============================] - 0s 468us/step - loss: 0.5510 - accuracy: 0.7296
Epoch 7/50
858/858 [==============================] - 0s 478us/step - loss: 0.5504 - accuracy: 0.7301
Epoch 8/50
858/858 [==============================] - 0s 494us/step - loss: 0.5498 - accuracy: 0.7305
Epoch 9/50
858/858 [==============================] - 0s 496us/step - loss: 0.5495 - accuracy: 0.7316
Epoch 10/50
858/858 [==============================] - 0s 460us/step - loss: 0.5491 - accuracy: 0.7305
Epoch 11/50
858/858 [==============================] - 0s 457us/step - loss: 0.5490 - accuracy: 0.7310
Epoch 12/50
858/858 [==============================] - 0s 484us/step - loss: 0.5489 - accuracy: 0.7302
Epoch 13/50
858/858 [==============================] - 0s 458us/step - loss: 0.5486 - accuracy: 0.7302
Epoch 14/50
858/858 [==============================] - 0s 455us/step - loss: 0.5485 - accuracy: 0.7310
Epoch 15/50
858/858 [==============================] - 0s 458us/step - loss: 0.5481 - accuracy: 0.7311
Epoch 16/50
858/858 [==============================] - 0s 458us/step - loss: 0.5480 - accuracy: 0.7304
Epoch 17/50
858/858 [==============================] - 0s 457us/step - loss: 0.5476 - accuracy: 0.7313
Epoch 18/50
858/858 [==============================] - 0s 508us/step - loss: 0.5478 - accuracy: 0.7305
Epoch 19/50
858/858 [==============================] - 0s 484us/step - loss: 0.5475 - accuracy: 0.7315
Epoch 20/50
858/858 [==============================] - 0s 469us/step - loss: 0.5473 - accuracy: 0.7314
Epoch 21/50
858/858 [==============================] - 0s 483us/step - loss: 0.5470 - accuracy: 0.7301
Epoch 22/50
858/858 [==============================] - 0s 484us/step - loss: 0.5469 - accuracy: 0.7315
Epoch 23/50
858/858 [==============================] - 0s 464us/step - loss: 0.5468 - accuracy: 0.7305
Epoch 24/50
858/858 [==============================] - 0s 455us/step - loss: 0.5468 - accuracy: 0.7311
Epoch 25/50
858/858 [==============================] - 0s 452us/step - loss: 0.5466 - accuracy: 0.7315
Epoch 26/50
858/858 [==============================] - 0s 455us/step - loss: 0.5468 - accuracy: 0.7310
Epoch 27/50
858/858 [==============================] - 0s 453us/step - loss: 0.5462 - accuracy: 0.7315
Epoch 28/50
858/858 [==============================] - 0s 482us/step - loss: 0.5464 - accuracy: 0.7314
Epoch 29/50
858/858 [==============================] - 0s 470us/step - loss: 0.5462 - accuracy: 0.7315
Epoch 30/50
858/858 [==============================] - 0s 466us/step - loss: 0.5461 - accuracy: 0.7308
Epoch 31/50
858/858 [==============================] - 0s 465us/step - loss: 0.5459 - accuracy: 0.7325
Epoch 32/50
858/858 [==============================] - 0s 453us/step - loss: 0.5463 - accuracy: 0.7303
Epoch 33/50
858/858 [==============================] - 0s 456us/step - loss: 0.5459 - accuracy: 0.7317
Epoch 34/50
858/858 [==============================] - 0s 458us/step - loss: 0.5459 - accuracy: 0.7308
Epoch 35/50
858/858 [==============================] - 0s 474us/step - loss: 0.5456 - accuracy: 0.7308
Epoch 36/50
858/858 [==============================] - 0s 461us/step - loss: 0.5455 - accuracy: 0.7317
Epoch 37/50
858/858 [==============================] - 0s 457us/step - loss: 0.5456 - accuracy: 0.7314
Epoch 38/50
858/858 [==============================] - 0s 455us/step - loss: 0.5453 - accuracy: 0.7328
Epoch 39/50
858/858 [==============================] - 0s 459us/step - loss: 0.5451 - accuracy: 0.7315
Epoch 40/50
858/858 [==============================] - 0s 459us/step - loss: 0.5450 - accuracy: 0.7319
Epoch 41/50
858/858 [==============================] - 0s 475us/step - loss: 0.5451 - accuracy: 0.7314
Epoch 42/50
858/858 [==============================] - 0s 460us/step - loss: 0.5450 - accuracy: 0.7317
Epoch 43/50
858/858 [==============================] - 0s 453us/step - loss: 0.5444 - accuracy: 0.7327
Epoch 44/50
858/858 [==============================] - 0s 458us/step - loss: 0.5448 - accuracy: 0.7314
Epoch 45/50
858/858 [==============================] - 0s 457us/step - loss: 0.5445 - accuracy: 0.7308
Epoch 46/50
858/858 [==============================] - 0s 461us/step - loss: 0.5448 - accuracy: 0.7325
Epoch 47/50
858/858 [==============================] - 0s 475us/step - loss: 0.5445 - accuracy: 0.7317
Epoch 48/50
858/858 [==============================] - 0s 457us/step - loss: 0.5443 - accuracy: 0.7322
Epoch 49/50
858/858 [==============================] - 0s 459us/step - loss: 0.5443 - accuracy: 0.7326
Epoch 50/50
858/858 [==============================] - 0s 461us/step - loss: 0.5441 - accuracy: 0.7313

In [17]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

215/215 - 0s - loss: 0.5552 - accuracy: 0.7271 - 87ms/epoch - 406us/step
Loss: 0.5551621913909912, Accuracy: 0.7271137237548828

In [19]:
from tensorflow.keras.models import load_model
# Export our model to HDF5 file
loaded_model = load_model("AlphabetSoupCharity.h5")

OSError: No file or directory found at AlphabetSoupCharity.h5